*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-weight: 400;
  line-height: 1.2;
}

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  font-size: 14px;
}

a {
  text-decoration: none;
}

.quicksand {
  font-family: quicksand, sans-serif;
}

.text-shadow {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

@keyframes fade-display {
  from {
    opacity: 0.25;
  }
  to {
    opacity: 1;
  }
}

@keyframes character-animation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-1);
  }
}

.fade-display {
  animation: fade-display 0.25s ease-in-out;
}

.header-appear {
  animation: fade-display 0.5s ease-in;
}

.clock-appear {
  animation: fade-display 1.5s ease-in;
}

.character-animation {
  display: inline-block;
  padding: 0 7px;
}

.character-animation:hover {
  opacity: 0.5;
  cursor: pointer;
  transform: translateY(-5px);
  transition: all 0.1s ease-in-out;
}

.slider {
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

@media only screen and (max-width: 600px) {
  header {
    padding: 0px 10px;
  }
}
